[submodule "Meadow/vendor/spdlog"]
	path = Meadow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Meadow/vendor/GLFW"]
	path = Meadow/vendor/GLFW
	url = https://github.com/LarsSeverson/glfw
[submodule "Meadow/vendor/imgui"]
	path = Meadow/vendor/imgui
	url = https://github.com/LarsSeverson/imgui
[submodule "Meadow/vendor/glm"]
	path = Meadow/vendor/glm
	url = https://github.com/g-truc/glm
